*{
  margin: 0;
  padding: 0;

}
body {
  width: 100%;
  margin-top: 150px;
  background-image: url("cook.jpg");
  background-position: center;
  background-size: cover;
  height: 80vh;
}
.container{
  height: 115px;
  background-color: #fff;
  margin-left: 400px;
  width: 20%;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: 100;
  cursor: pointer;
  width: 100%;
}
button:hover {
  opacity: 0.8;
}
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}
img.avatar {
  width: 40%;
  border-radius: 50%;
}
.container {
  padding: 16px;
}